.BlackLink {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.Page-header-couverture {
    padding: 15rem 0;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}
