// Fonts
$family-primary: "Poppins", Arial, Tahoma, sans-serif;
$family-secondary: 'Playfair Display', Arial, Tahoma, sans-serif;

// Colors
$primary: #4f82c1;
$link: #4f82c1;
$info: #4f82c1;
$success: #53b18f;
$warning: #e69845;
$text: #3d2a23;
$dark-grey: #353535;

$radius-small: 0px;
$radius: 0px;
$radius-big: 0px;

$navbar-height: 5rem;
$navbar-padding-horizontal: 5rem;