.Homepage-header {
    padding: 5rem 0;
    background-image: url('/img/frontend/home-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2px;

    @media (min-width: $tablet) {
        padding-top: 10rem;
        padding-bottom: 15rem;
    }
}

.Homepage-title {
    padding-top: 1rem;
    padding-bottom: 5rem;

    .PageContent-title {
        font-size: 3rem;
        line-height: 3rem;

        @media (min-width: $tablet) {
            font-size: 4rem;
            line-height: 4rem;
        }
    }
}

.Homepage-countdown {
    text-align: center;
    max-width: 70rem;
    margin: 5rem auto;
}

.Homepage-countdown-number {
    font-size: 3rem;
    line-height: 2rem;
    color: $dark-grey;

    @media (min-width: $tablet) {
        font-size: 6rem;
        line-height: 5rem;
    }
}

.Homepage-countdown-text {
    color: $primary;
}

.Homepage-location {
    margin: 3rem 0;
}

.Homepage-weNeedYou {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;

    @media (min-width: $tablet) {
        text-align: left;
        background-image: url('/img/frontend/orga-bg.jpg');
        background-size: cover;
        background-position: center;
        margin-top: -10rem;
        padding: 20rem 0;
    }
}

.Homepage-weNeedYou-content {
    max-width: 60rem;
    margin: 0rem auto;
    padding: 1rem;
}