.Inscriptions-Header {
    padding: 15rem 0;
    background-image: url('/img/frontend/inscriptions-bg.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Inscriptions-content {
    max-width: 1366px;
    margin: auto;
    padding: 0 1rem;
}

.Inscriptions-camping-left {
    background-image: url('/img/frontend/guy.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;

    @media (min-width: $desktop) {
        display: block;
    }
}

.Inscriptions-camping-informationsComplementaires {
    max-width: 900px;
    margin: auto;
}
